<!DOCTYPE html>
<html>
<head lang="ja">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <p><a href="http://127.0.0.1:8000/makeevent">企画する</a></p>
                <th>おすすめ企画一覧</th>
            </tr>
        </thead>
        <tbody>
            {% if events %}
                {% for event in events%}
                <tr>
                    <td>{{event.event_name}}</td>
                    <td>{{event.place}}</td>
                    <td>{{event.user}}</td>
                <tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td></td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</body>
</html>