{%load bootstrap4 %}
<!DOCTYPE html>
{% load static %}
<html>
<head lang="ja">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/event_new.css'%}">
    <title>Otetsudaizu</title>
</head>
<body>
<h1>Otetsudaizu!</h1>
        <table>
            <ul class="sample3">
                <li><a href="http://127.0.0.1:8000/event"><p style="font-size:20px">戻る</p></a></li>
                <li><a href="#"><p style="font-size:20px">困っていること一覧</p></a></li>
            </ul>
            <form method="post" action="">
            {% csrf_token %}
                        <tr>
                            <th>タイトル</th>
                            <td>{{form.event_name}}</td>
                        </tr>
                        <tr>
                        <img src="{% static "polls/images/bandaisan.jpg"%}" width="500" height="300">
                        </tr>
                            <tr>
                                <th>地域</th>
                                <td>{{form.place}}</td>
                            </tr>
                            <tr>
                                <th>手伝い</th>
                                <td>{{form.help}}</td>
                            </tr>
                            <tr>
                                <th>手伝い時間</th>
                                <td>{{form.parttime}}</td>
                            </tr>
                            <tr>
                                <th>参加人数</th>
                                <td>{{form.join}}</td>
                            </tr>
                            <tr>
                                <th>手伝い人数</th>
                                <td>{{form.planning_number}}</td>
                            </tr>
                            <tr>
                                <th>お礼</th>
                                <td>{{form.thanks}}</td>
                            </tr>
                            <tr>
                                <th>投稿者</th>
                                <td>{{form.user}}</td>
                            </tr>
            </tbody>
                <tr>
                <td><input class="button" type="submit" value="募集">
                </td>
                </tr>
            </form>
        </table>
</body>