
<!DOCTYPE html>
{% load static %}
<html>
<head lang="ja">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/event.css'%}">
    <title>Otetsudaizu!</title>
</head>
<h1>Otetsudaizu!</h1>
<body>
    <table>
        <tbody>
            <button type="button" class="btn btn-primary"><p><a href="http://127.0.0.1:8000/mypage">マイページ</a></p></button>
            <p><a href="http://127.0.0.1:8000/makeevent">企画する</a></p>
            <h2>おすすめ企画一覧</h2>
            {% if events %}
                {% for event in events%}
                <tr>
                    <h4 class="card-title">{{event.event_name}}</h4>
                    <div class ="image">
                    <img src="/{{event.picture}}" style="width:300px;height:auto">
                    </div>
                    <div class="card-body">
                    <h5 class="card-title">{{event.place}}</h5>
                    <h5 class="card-title">{{event.user}}</h5>
                    <p class="card-text">{{event.thanks}}</p>
                    <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
                <tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td></td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</body>
</html>